/* the box model fix changes how the browser interprets the box model*/
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
/*-------------------------------------------------*/


/* Color Palette*/


/*Global Styles
--------------------------------------------------*/
body {
    color: darkblue;
    margin: 0;
    padding: 0;
    font-family: helvetica, arial, sans-serif;
    
}
img {
    width: 300px;
}
a:hover {
    text-decoration: none;
}
h1 {
    font-size: 50px;
}
h2 {
    margin: 0;
    font-size: 30px;
}
h1, h2 {
    font-family:'Lobster', cursive; 
    margin: 0;
}
.content-wrap {
   max-width: 800px; 
   margin: 0 auto;
   padding: 60px 0;
}
h3 {
    margin-bottom: 0;
}
.item-details h3 + p {
    font-style: italic;
}
.item-details h3~p{
    margin: 0;
}


/* Navigation
-------------------------------------------------*/
nav {
    background: whitesmoke;
    text-align: left;
    list-style: none;
    
}
 ul li{
    display: inline-block;
    position: relative;
    padding: 15px;
    background: lightblue;
}
 ul li :hover {
    background: lightgoldenrodyellow;
}
 ul li ul {
    padding: 0;
    position:absolute;
    top: 48px;
    left:-1000px;
    width: 150px;
}
ul li ul li {
    display: block;
}
ul li ul li:hover {
    background: lightcoral;
}
ul li:hover ul {
    display: block;
    left:0px;
}


/*Profile
--------------------------------------------------*/
header {
    background: papayawhip;
    text-align: center;
}

/*Projects
--------------------------------------------------*/
.projects {
    background: lightcyan;
}
.projects a {
    color: goldenrod;

}
/*
.projects .btn {
    color: black;
    background: goldenrod;
    text-decoration: none;
    padding: 8px;
    border-radius: 4px;
    display: inline-block;
}*/
.project-item {
    overflow: hidden;
    border-bottom: 1px dashed goldenrod;
    padding: 25px 0;
}
.project-item img {
    float: left;
    margin-right: 20px;
}
.project-item h3 {
    margin-top: 0;
}

/*Work Experience
--------------------------------------------------*/
.experience {
    background: lightblue;
}
.job-item {
   display:grid; 
   grid-template-columns: 1fr 2fr ;
   column-gap: 20px;
}

/*Education
--------------------------------------------------*/

/*Contact Info
--------------------------------------------------*/

footer {
    background: lightcoral;
    color: black;
    text-align: center;
}
.contact-list {
   list-style-type: none; 
   padding: 0;
   display: flex;
   justify-content: center;
}
.contact-list a {
    padding: 15px;
    display: inline-block;
}